body{
    background: #eee;
}
#content{
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: calibri;
    font-size: 14px;
    color: #444;
    margin: 0 auto;

    max-height: 270px;
    overflow: hidden;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more{
    width: 100px;
    height: 10px;
    color: #fff;
    background: #1594e5;
    display: block;
    padding: 20px;
    margin: 0 auto;
    border: #444;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
      

}
#message{
    width: 400px;
    background: #ddaaaa;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ffffff;
    font-weight: bold;
    opacity: 0;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#message.show{
    opacity: 1;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#colour-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: #fff;
    -webkit-transition: background 0.7s;
    -moz-transition: background 0.7s;
    transition: background 0.7s;
}